---
layout: base
---


    <section style="background: url({{site.baseurl}}/img/hero.jpg); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>人生短暂，不要让自己活得太累</h1>拿不来的东西，不要硬拿，即使暂时得到，也会失去。
          </div>

    </section>

   <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for post in paginator.posts %}
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></div><a href="{{site.baseurl}}{{post.url}}">
                    <h2 class="h4">{{post.title1}}</h2></a>
                </header>
                <p>{{post.excerpt|strip_html|truncate:100}}</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{site.baseurl}}/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post.author|default:site.author}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 2 月以前</div>
                  <div class="comments"><i class="icon-comment"></i>{{post.date|date_to_long_string}}</div>
                </footer>
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="{{site.baseurl}}/img/featured-pic-1.jpeg" alt="..."></div>
        </div>
        {% endfor %}

 <div class="clearfix">
 {% if paginator.previous_page %}
        <a class="btn btn-primary float-left" href="{{site.baseurl}}{{paginator.previous_page_path}}">&larr; 上一页</a>
{% else %}
        <button class="btn" disabled>没有上一页</button>
{% endif %}

 {% if paginator.next_page %}
        <a class="btn btn-primary float-right" href="{{site.baseurl}}{{paginator.next_page_path}}">下一页 &rarr;</a>
{% else %}
        <button class="btn float-right" disabled>没有下一页</button>
{% endif %}
      </div>


    </section>


